<span class="framer-element" {{> _elementStyle}}>
  <input type="checkbox"{{#if selected}} checked{{/if}} {{#if indeterminate}}class="wirekit-indeterminate"{{/if}}/><label class="framer-text" {{> _textStyle}}>{{text}}</label>
</span>
