<div class="framer-element framer-drawn-element{{#if shapeClass}} {{shapeClass}}{{else}} rectangle{{/if}}" {{> _elementStyle}}>
  {{#if text}}<span class="framer-text" {{> _textStyle}}>{{text}}</span>{{/if}}
</div>
