<span class="framer-element" {{> _elementStyle}}>
  <input type="text" value="{{text}}" style="{{#if w}}width:{{w}}px;{{/if}}{{#if fontFamily}}font-family:'{{fontFamily}}';{{/if}}{{#if fontSize}}font-size:{{fontSize}};{{/if}}" />
</span>
