<div id="framer_element_palette">
  <a href="#" data-template="rectangle">Rectangle</a>
  <a href="#" data-template="oval">Oval</a>
  <a href="#" data-template="link">Link</a>
  <a href="#" data-template="grid">Grid</a>  
</div>
