<div id="framer_element_palette">
  <a href="#" class="create" data-template="rectangle">Rectangle</a>
  <a href="#" class="create" data-template="oval">Oval</a>
  <a href="#" class="create" data-template="link">Link</a>
  <a href="#" class="create" data-template="grid">Grid</a>
  <a href="#" class="close">x</a>
</div>
