<div class="framer-modal property-panel showing">
  <div class="framer-fields"></div>
  <div class="framer-group-controls">
    <a href="#" class="framer-align-left"></a>
    <a href="#" class="framer-align-right"></a>
    <a href="#" class="framer-align-top"></a>
    <a href="#" class="framer-align-bottom"></a>
    <a href="#" class="framer-align-center"></a>
    <a href="#" class="framer-align-middle"></a>
  </div>
  <div class="framer-group-controls">
    <a href="#" class="framer-distribute-left"></a>
    <a href="#" class="framer-distribute-right"></a>
    <a href="#" class="framer-distribute-top"></a>
    <a href="#" class="framer-distribute-bottom"></a>
    <a href="#" class="framer-distribute-center"></a>
    <a href="#" class="framer-distribute-middle"></a>
  </div>
  <button class="save">Save</button>
  <button class="cancel">Cancel</button>
</div>
