<span class="framer-element" {{> _elementStyle}}>
  <input type="checkbox"{{#if selected}} checked{{/if}} /><label class="framer-text" style="{{#if fontFamily}}font-family:'{{fontFamily}}';{{/if}}{{#if fontSize}}font-size:{{fontSize}};{{/if}}">{{text}}</label>
</span>
