<label class="framer-element" {{> _elementStyle}}><span class="framer-text" style="{{#if fontFamily}}font-family:'{{fontFamily}}';{{/if}}{{#if fontSize}}font-size:{{fontSize}};{{/if}}">{{text}}</span></label>
