$basic-color: #555;
$highlight-color: #00a;
$standard-font: 'Helvetica', sans-serif;

$resize-handle-size: 20px;
$control-box-border-offset: $resize-handle-size;

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
input, textarea {
  -moz-user-select: text;
}


#framer_backdrop, #framer_grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#framer_controls, #framer_pages {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#framer_controls {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: default;

  .control-box, .transform-box {
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: default;

    &.control-box.selected {
      z-index: 2;
    }

    &.transform-box {
      margin-left: -1 * $resize-handle-size;
      margin-top: -1 * $resize-handle-size;
      padding: $resize-handle-size + 1px;
      z-index: 1;
    }

    &.dragging {
      border-color: #0f0;
    }

    .control-border {
      visibility: hidden;
      border: 1px solid $highlight-color;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .resize-handle {
      border: 1px solid $highlight-color;
      position: absolute;
      width: $resize-handle-size;
      height: $resize-handle-size;

      &.resize-handle-t, &.resize-handle-b {
        width: auto;
        right: $resize-handle-size;
        left: $resize-handle-size;
      }
      &.resize-handle-l, &.resize-handle-r {
        height: auto;
        bottom: $resize-handle-size;
        top: $resize-handle-size;
      }
      &.resize-handle-tl, &.resize-handle-t, &.resize-handle-tr {
        top: -1px;
      }
      &.resize-handle-tr, &.resize-handle-r, &.resize-handle-br {
        right: -1px;
      }
      &.resize-handle-bl, &.resize-handle-b, &.resize-handle-br {
        bottom: -1px;
      }
      &.resize-handle-tl, &.resize-handle-l, &.resize-handle-bl {
        left: -1px;
      }
    }

    &:hover, &.selected {
      .control-border {
        visibility: visible;
      }

      .resize-handle {
        visibility: visible;
      }
    }
  }
}

.framer-drawn-element {
  box-sizing: border-box;
  border: 1px solid $basic-color;

  &.oval {
    border-radius: 50% / 50%;
  }
}

.framer-modal {
  position: absolute;
  background: rgba(255,255,255,0.75);
  left: 100px;
  top: 100px;
  padding: 10px;
  width: 300px;
  z-index: 3;

  label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }

  input, textarea {
    font-size: 14px;
  }
}

#framer_elementPalette {
  position: absolute;
  bottom: 0;
  background: #aaa;
}

.framer-selecting-frame {
  position: absolute;
  border: 1px solid $basic-color;
}

@keyframes slideIn {
  from {
    margin-left: 5000px;
  }
  to {
    margin-left: 0;
  }
}

@mixin framer-button () {
  border: 1px solid $basic-color;
  padding: 5px;
  display: inline-block;
}

@mixin panel-button () {
  @include framer-button();
  width: 24px;
  height: 24px;
}

@mixin align-button () {
  @include panel-button();
}

a.framer-align-top {
  @include align-button();
  background: url('../images/icon_align_top.svg');
}
a.framer-align-right {
  @include align-button();
  background: url('../images/icon_align_right.svg');
}
a.framer-align-bottom {
  @include align-button();
  background: url('../images/icon_align_bottom.svg');
}
a.framer-align-left {
  @include align-button();
  background: url('../images/icon_align_left.svg');
}
a.framer-align-center {
  @include align-button();
  background: url('../images/icon_align_center.svg');
}
a.framer-align-middle {
  @include align-button();
  background: url('../images/icon_align_middle.svg');
}

a.framer-distribute-top {
  @include align-button();
  background: url('../images/icon_distribute_top.svg');
}
a.framer-distribute-right {
  @include align-button();
  background: url('../images/icon_distribute_right.svg');
}
a.framer-distribute-bottom {
  @include align-button();
  background: url('../images/icon_distribute_bottom.svg');
}
a.framer-distribute-left {
  @include align-button();
  background: url('../images/icon_distribute_left.svg');
}
a.framer-distribute-center {
  @include align-button();
  background: url('../images/icon_distribute_center.svg');
}
a.framer-distribute-middle {
  @include align-button();
  background: url('../images/icon_distribute_middle.svg');
}
a.framer-group {
  @include panel-button();
  background: url('../images/icon_group.svg');
}
a.framer-ungroup {
  @include panel-button();
  background: url('../images/icon_ungroup.svg');
}
a.framer-componentize {
  @include panel-button();
  background: url('../images/icon_componentize.svg');
}
