$basic-color: #555;
$highlight-color: #00a;
$standard-font: 'Helvetica', sans-serif;

$resize-handle-size: 20px;
$control-box-border-offset: $resize-handle-size;

#framer_backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#framer_controls, #framer_pages {
  position:absolute;
  top: 0;
  left: 0;
}

#framer_controls {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .control-box, .transform-box {
    position: absolute;
    margin: 0;
    padding: 0;

    &.control-box.selected {
      z-index: 2;
    }

    &.transform-box {
      margin-left: -1 * $resize-handle-size;
      margin-top: -1 * $resize-handle-size;
      padding: $resize-handle-size + 1px;
      z-index: 1;
    }

    &.dragging {
      border-color: #0f0;
    }

    .control-border {
      visibility: hidden;
      border: 1px solid $highlight-color;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .resize-handle {
      border: 1px solid $highlight-color;
      position: absolute;
      width: $resize-handle-size;
      height: $resize-handle-size;

      &.resize-handle-t, &.resize-handle-b {
        width: auto;
        right: $resize-handle-size;
        left: $resize-handle-size;
      }
      &.resize-handle-l, &.resize-handle-r {
        height: auto;
        bottom: $resize-handle-size;
        top: $resize-handle-size;
      }
      &.resize-handle-tl, &.resize-handle-t, &.resize-handle-tr {
        top: -1px;
      }
      &.resize-handle-tr, &.resize-handle-r, &.resize-handle-br {
        right: -1px;
      }
      &.resize-handle-bl, &.resize-handle-b, &.resize-handle-br {
        bottom: -1px;
      }
      &.resize-handle-tl, &.resize-handle-l, &.resize-handle-bl {
        left: -1px;
      }
    }

    &:hover, &.selected {
      .control-border {
        visibility: visible;
      }

      .resize-handle {
        visibility: visible;
      }
    }
  }
}

.framer-drawn-element {
  border: 1px solid $basic-color;

  &.oval {
    border-radius: 50% / 50%;
  }
}

.framer-modal {
  position: absolute;
  background: rgba(255,255,255,0.75);
  left: 100px;
  top: 100px;
  padding: 10px;
  width: 300px;
  z-index: 3;
}

#framer_elementPalette {
  position: absolute;
  bottom: 0;
  background: #aaa;
}

.framer-selecting-frame {
  position: absolute;
  border: 1px solid $basic-color;
}

@keyframes slideIn {
  from {
    margin-left: 5000px;
  }
  to {
    margin-left: 0;
  }
}
